.login-social {
    position: relative;
}

.login-social img {
    position: absolute;
    height: 60%;
    border-radius: 50%;
    left: 0.5rem;
    top: 50%;
    transform: translate(0, -50%);
}

.login-gg {
    background-color: #e6e6e6;
}

.login-fb {
    background-color: #3b5998; 
    color: #fff;
}

.login-linkedin {
    background-color: #2F7BBA;
    color: #fff
}